footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 2rem 0;
}
footer h1{
    font-weight: 400;
    color: rgb(153,31,72);
}
footer p:last-child{
    background-color: rgba(128, 128, 128, 0.911);
    width: 100%;
    padding: 1rem;
    font-weight: 500;
}