header h1{
    font-weight: 400;
    color: rgb(153,31,72);
    margin-left: 0.5rem;
}
header p{
    font-size: 10px;
    letter-spacing: 2px;
    color: grey;
    line-height: 20px;
    margin-left: 0.5rem;
}
header ul{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
header ul li{
    list-style-type: none;
    background-color: rgb(164,162,158);
    padding: 0.7rem;
    color: white;
    font-weight: 600;
    width: 270px;
    text-align: center;
    cursor: pointer;
}
header ul li:hover{
    background-color: rgb(153,31,72);
    transition: 0.7s linear;
}
header ul li:first-child{
    background-color: rgb(153,31,72);
}
